<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">

            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1 th:text="'Offer model details: ' + ${offersDetails.model.name}"></h1>
                </div>
                <div class="row bg-light rounded">
                    <div class="col-md-6">
                        <h2>Offer</h2>
                        <hr>
                        <h4 th:text="'Название модели: ' + ${offersDetails?.model?.name}"></h4>
                        <hr>
                        <h4 th:text="'Владелец: ' + ${offersDetails?.users?.username}"></h4>
                        <hr>
                        <h4 th:text="'Бренд: ' + ${offersDetails?.model?.brands?.name}"></h4>
                        <hr>
                        <h4 th:text="'Двигатель: ' + ${offersDetails?.engine}"></h4>
                        <hr>
                        <h4 th:text="'Трансмисия: ' + ${offersDetails?.transmission}"></h4>
                        <hr>
                        <h4 th:text="'Пробег: ' + ${offersDetails?.mileage}"></h4>
                        <hr>
                        <h4 th:text="'Дата создания: ' + ${offersDetails?.created}"></h4>
                        <hr>
                        <h4 th:text="'Дата модификации: ' + ${offersDetails?.modified}"></h4>
                        <hr>
                        <h4 th:text="'Год авто: ' + ${offersDetails?.year}"></h4>
                        <hr>
                        <h4 th:text="'Цена авто: ' + ${offersDetails?.price}"></h4>
                        <hr>
                        <p th:text="'Описание: ' + ${offersDetails?.description}"></p>
                        <hr>

                        <!--                        <div class="align-bottom" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">-->
                        <!--      <a class="btn btn-danger align-bottom"
                                 th:href="@{/employees/employee-delete{employee-full-name}(employee-full-name=${employeeDetails.firstName} + ' ' + ${employeeDetails.lastName})}">Delete
                                  employee</a>-->
                        <!--                        </div>-->
                    </div>
                    <div class="col-md-6">

                        <img th:src="${offersDetails.imageUrl}"height="350px">
                        <br>
                        <div class="row" style="margin-top: 15px; margin-left: 50px">
                            <br>
                            <div class="col-md-4">

                                <h4><a class="btn-block" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" style="display: block;
                                                        width: 150px;
                                                        height: 60px;
                                                        padding: 10px;
                                                        text-align: center;
                                                        border: 1px solid black;
                                                        border-radius: 10px;
                                                        color: black;
                                                        text-decoration: none;"

                                >Обновить</a>
                                </h4>
                            </div>
                            <br>
                            <div class="col-md-4">
                                <h4><a class="btn-block" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" style="display: block;
                                                        width: 150px;
                                                        height: 60px;
                                                        padding: 10px;
                                                        text-align: center;
                                                        border: 1px solid black;
                                                        border-radius: 10px;
                                                        color: black;
                                                        text-decoration: none;"
                                       th:href="@{/Offers/details/delete/{abc}(abc=${offersDetails.id})}"

                                >Удалить</a>
                                </h4>
                            </div>
                            <br>
                            <div class="col-md-4">

                                <h4><a class="btn-block" style="display: block;
                                                        width: 150px;
                                                        height: 60px;
                                                        padding: 10px;
                                                        text-align: center;
                                                        border: 1px solid black;
                                                        border-radius: 10px;
                                                        color: black;
                                                        text-decoration: none;"
                                       href="/Offers/all"
                                >К офферам</a>
                                </h4>
                            </div>

                        </div>

                    </div>
                </div>
            </main>
        </div>

    </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>