<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Register</h1>
                </div>
                <form th:action="@{/users/register}"
                      th:method="post"
                      th:object="${userRegistrationDto}"
                      class="m-md-auto w-50 pb-3">
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input th:field="*{username}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="username" aria-describedby="usernameHelp"
                               name="username"/>
                        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Error
                            message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="last_name">Full Name</label>
                        <input th:field="*{last_name}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="last_name" aria-describedby="last_name"
                               name="last_name"/>
                        <small th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}" class="text-danger">Error
                            message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="first_name">Full Name</label>
                        <input th:field="*{first_name}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="first_name" aria-describedby="first_name"
                               name="first_name"/>
                        <small th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}" class="text-danger">Error
                            message</small>
                    </div>



                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input th:field="*{password}"
                               required minlength="5" maxlength="20"
                               th:errorclass="is-invalid"
                               type="password" min="0" class="form-control text-center"
                               id="password" aria-describedby="password" name="password"/>
                        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="text-danger">Error
                            message</small>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="confirmPassword">Confirm password</label>
                        <input th:field="*{confirmPassword}"
                               required minlength="5" maxlength="20"
                               th:errorclass="is-invalid"
                               type="password" min="0" class="form-control text-center"
                               id="confirmPassword" aria-describedby="confirmPassword" name="confirmPassword"/>
                        <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                               class="text-danger">Error
                            message</small>
                    </div>
                    <p class="text-danger" th:if="${error}">
                    <p th:text="${error}"></p>
                    </p>

                    <button type="submit" class="btn btn-secondary">Register</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>